* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-submit-background {
    font-family: "Kaisei HarunoUmi", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/blank background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-submit-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgb(80, 77, 77);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(105, 103, 100, 0.932);
    color: #5a5656;
    border-radius: 10px;
    padding: 20px 40px;
}

.contact-submit-wrapper h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

.contact-submit-wrapper h3 {
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    color: #ffffff;
}

.contact-submit-wrapper button {
    width: 60%;
    height: 45px;
    background: linear-gradient(to right, #ecae04ec, #f86c00);
    border: 2px solid white;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 55px;
    margin-left: 75px;
}

.contact-submit-wrapper button:hover {
    background: linear-gradient(to right, #ecae04ec, #f86c00);
    color: #000000;
    transition: 0.3s;
}