* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forgotpassword-background {
    font-family: "Kaisei HarunoUmi", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/blank background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.forgotpassword-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgb(80, 77, 77);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(105, 103, 100, 0.932);
    color: #5a5656;
    border-radius: 10px;
    padding: 30px 40px;
}

.forgotpassword-wrapper h2 {
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}

.forgotpassword-wrapper h4 {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

.forgotpassword-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50);
    font-size: 16px;
}

.forgotpassword-wrapper button {
    width: 60%;
    height: 45px;
    background: linear-gradient(to right, #ecae04da, #f86c00e7);
    border: 2px solid white;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 15px;
    margin-left: 75px;
}

.forgotpassword-wrapper button:hover {
    background: linear-gradient(to right, #ecae04da, #f86c00e7);
    color: #000000;
    transition: 0.3s;
}

.forgotpassword-form-group {
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.forgotpassword-form-group .left-link {
    float: left;
    font-size: 13px;
}

.forgotpassword-form-group .left-link:hover {
    color: #ffa600;
    transition: 0.3s;
}

.forgotpassword-form-group .right-link {
    float: right;
    font-size: 13px;
}

.forgotpassword-form-group .right-link:hover {
    color: rgb(6, 29, 240);
    transition: 0.3s;
}